* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body, input, button {
  font-family: 'Open Sans', sans-serif;
}

input, button {
  font-size: 16px;
}

.head_bar {
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: cornflowerblue;
  color: white;
}

main {
  max-width: 800px;
  width: 80%;
  margin: 0 auto;
  padding: 16px;
}

.input_section {
  display: flex;
  flex-direction: column;
  padding: 16px;
  border: 1px solid black;
  border-radius: 10px;
}

.input_section h2 {
  text-align: center;
  color: cornflowerblue;
  margin-bottom: 16px;
}

.input_section form .input {
  margin: 8px 0;
}

.input_section form button {
  background-color: cornflowerblue;
  color: white;
  border: 0;
  border-radius: 5px;
  display: block;
  width: 100%;
  padding: 8px;
  cursor: pointer;
}

.input_section form button span {
  font-weight: bold;
}

.input_section form .input input {
  display: block;
  width: 100%;
  padding: 8px;
  border-radius: 5px;
}

.input_section form .input label {
  color: cornflowerblue;
  font-weight: bold;
}

.input_section form .input_inline {
  margin: 12px 0;
  display: flex;
  align-items: center;
}

.input_section form .input_inline label {
  color: cornflowerblue;
  font-weight: bold;
  margin-right: 10px;
}

.search_section {
  margin: 16px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  border: 1px solid black;
  border-radius: 10px;
}

.search_section h2 {
  color: cornflowerblue;
  margin-bottom: 16px;
}

.search_section form {
  padding: 16px;
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr 0.5fr;
  grid-gap: 10px;
}

.search_section form label {
  display: flex;
  align-items: center;
}

.search_section form input {
  padding: 5px;
  border-radius: 5px;
}

.search_section form button {
  background-color: cornflowerblue;
  color: white;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}

.book_shelf {
  margin: 16px 0 0 0;
  border: 1px solid black;
  padding: 16px;
  border-radius: 10px;
}

.book_shelf h2 {
  color: cornflowerblue;
  margin-bottom: 16px;
}

.book_shelf .book_list {
  padding: 16px;
}

.book_shelf .book_list .book_item {
  padding: 16px;
  border: 1px solid black;
  border-radius: 5px;
  margin: 10px 0;
}

.book_shelf .book_list .book_item h3, p {
  margin: 8px 0;
}

.book_shelf .book_list .book_item .action button {
  border: 0;
  padding: 5px;
  margin: 0 5px 0 0;
  border-radius: 5px;
  cursor: pointer;
}

.book_shelf .book_list .book_item .action .green {
  background-color: darkgreen;
  color: white;
}

.book_shelf .book_list .book_item .action .red {
  background-color: darkred;
  color: white;
}


.book_shelf .book_list .book_item .action .blue {
  background-color: dodgerblue;
  color: white;
}


.confirmation-message {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  border-radius: 5px;
  z-index: 999;
}


.custom-dialog {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.dialog-content {
  text-align: center;
}

.custom-button {
  margin: 10px;
  padding: 8px 16px;
  cursor: pointer;
}



.confirmation-message {
  display: none;
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  border-radius: 5px;
  z-index: 999;
}


